:root{                          /*  Use estas variables con total comodidad */
   --color-inicial: #4a768f;           /*   var(--color-inicial)    */
   --color-final: #266b3b;             /*   var(--color-final)      */
   --width-initial: 70vh;                /*   var(--width-initial)    */
   --height-initial: 70vh;               /*   var(--height-initial)   */
   --width-final: 80vh;                  /*   var(--width-final)      */
   --height-final: 80vh;                 /*   var(--height-final)     */
   --animation-delay: 1.5s;              /*   var(--animation-delay)  */
}


*{
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.App-shape {
  background-color: #0a1527d7;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-shape-square {
  min-height: 10vh;
  min-width: 10vh;
  background-color: #61fb8f;
  animation-name: colors;
  animation-duration: var(--animation-delay);
  animation-iteration-count: infinite;
}

.controller {
  background-color: #499cb3;
  min-width: 20vw;
  min-height: 60vh;
  position: absolute;
  left: 75vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  /* justify-content: space-around;
  align-items: center; */
  border-radius: 5px;
}

.controller-frequency {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 2rem;
  /* text-align: center; */
  border-bottom: 1px solid #000;
}

.controller-initialSize {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  border-bottom: 1px solid #000;
  font-size:4rem;
}

.controller-finalSize {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  border-bottom: 1px solid #000;
  font-size:4rem;
}

.controller button {
  background-color: black;
  color: white;
  width: 5vw;
  height: 5vh; 
  border-radius: 5px;
  font-size: 1rem;
}

.App-link {
  color: #61dafb;
}

/* Revisar animations en el pocket */

@keyframes colors {
  
  0% {background-color: var(--color-inicial); width: var(--width-initial); height: var(--height-initial); }
  25% {background-color: var(--color-final); width: var(--width-final); height: var(--height-final);}
  50% {background-color: var(--color-inicial); width: var(--width-initial); height: var(--height-initial); }
  75% {background-color: var(--color-final); width: var(--width-final); height: var(--height-final);}
  100% {background-color: var(--color-inicial); width: var(--width-initial); height: var(--height-initial); }
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
