:root{                          /*  Use estas variables con total comodidad */
   --color-inicial: #4a768f;           /*   var(--color-inicial)    */
   --color-final: #266b3b;             /*   var(--color-final)      */
   --width-initial: 70vh;                /*   var(--width-initial)    */
   --height-initial: 70vh;               /*   var(--height-initial)   */
   --width-final: 80vh;                  /*   var(--width-final)      */
   --height-final: 80vh;                 /*   var(--height-final)     */
}


*{
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0a1527d7;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header div {
  min-height: 10vh;
  min-width: 10vh;
  background-color: #61fb8f;
  animation-name: colors;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.controlador {
  background-color: #499cb3;
  min-width: 15vw;
  min-height: 40vh;
  position: absolute;
  left: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.controlador button {
  background-color: black;
  color: white;
  width: 5vw;
  height: 5vh; 
  border-radius: 5px;
}

.App-link {
  color: #61dafb;
}

/* Revisar animations en el pocket */

@keyframes colors {
  
  0% {background-color: var(--color-inicial); width: var(--width-initial); height: var(--height-initial); }
  25% {background-color: var(--color-final); width: var(--width-final); height: var(--height-final);}
  50% {background-color: var(--color-inicial); width: var(--width-initial); height: var(--height-initial); }
  75% {background-color: var(--color-final); width: var(--width-final); height: var(--height-final);}
  100% {background-color: var(--color-inicial); width: var(--width-initial); height: var(--height-initial); }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
